/build*
include/tudocomp/config.h
include/tudocomp/tudocomp.hpp
Cargo.lock
*~
.~lock.*
*.aux
*.pdf
*.log
*.out
*.toc
CMakeLists.txt.user
test/*
www/*
.idea/*
.vscode/*
docs/*
*.cmake
Makefile
**/CMakeFiles/*
tdc
CMakeCache.txt
CMakeDoxyfile.in
glog_external-prefix/*
sdsl_external-prefix/*
src/generated/generated_source/*
src/generated/libtudocomp_algorithms.a
src/tudocomp_stat/libtudocomp_stat.a
*.tdc
